// Colors

$background-light: rgb(255, 240, 245);
$background-dark: rgb(169, 169, 169);
$background-accent: rgb(220, 20, 60);


$text-light: rgb(255, 250, 250);
$text-dark: rgb(61, 61, 61);
$text-accent: rgb(220, 20, 60);


$border-light: rgb(255, 255, 255);
$border-dark: rgb(61, 61, 61);
$border-accent: rgb(220, 20, 60);